/* Fuentes */
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&display=swap');

/* Colores */
:root {
  --color-fondo: #ffffff;
  --color-borde: #434875;
  --color-texto: #434875;
  --color-placeholder: #b5b5b5;
  --color-boton: #434875;
  --color-boton-hover: #434875;
  --color-boton-texto: #ffffff;
  --color-link: #434875;
  --color-link-hover: #434875;
}

/* Estilos generales */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Pixelify Sans", sans-serif;
	font-size: 16px;
	background-color: transparent;
	color: #333;
}

h2 {
  text-align: center;
	font-size: 36px;
	margin: 30px 0;
	color: #444;
	font-family:"Pixelify Sans", sans-serif;
}

a {
  color: var(--color-link);
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

a:hover {
  color: var(--color-link-hover);
}

/* Estilos del formulario */
form {
  max-width: 500px;
	margin: 0 auto;
  margin-top: 100px;
	background-color: #fff;
	padding: 2rem;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
	border-radius: 40px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: left;
}

label {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

input[type='text'],
input[type='password'] {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid var(--color-borde);
  color: var(--color-texto);
  font-family: 'Roboto', sans-serif;
  font-size: 1.25rem;
  padding: 0.5rem;
  margin-bottom: 1.5rem;
  width: 100%;
}

input[type='text']:focus,
input[type='password']:focus {
  outline: none;
  border-color: var(--color-boton);
}

input[type='text']::placeholder,
input[type='password']::placeholder {
  color: var(--color-placeholder);
  font-family: 'Roboto', sans-serif;
  font-size: 1.25rem;
}

.boton-especial {
  position: absolute;
  top: 100px;
  right: 625px;
  border-radius: 100px;
}

button[type='button'] {
	display: block;
	margin: 20px auto 0;
	padding: 10px 20px;
	font-size: 20px;
	color: #fff;
	background-color: #434875;
	border: none;
	border-radius: 10px;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
	cursor: pointer;
}

button[type='button']:hover {
  background-color: var(--color-boton-hover);
}

.success-message, .error-message {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 15px 20px;
  border-radius: 10px;
  font-size: 18px;
  color: #ffffff;
  z-index: 999999;
  transition: opacity 0.5s ease-in-out;
}

.success-message {
  background-color: #4CAF50; /* Color verde para mensaje de éxito */
}

.error-message {
  background-color: #F44336; /* Color rojo para mensaje de error */
}

/* Opcional: Estilos para animar la aparición y desaparición de los mensajes */
.success-message.show, .error-message.show {
  opacity: 1;
}

.success-message.hide, .error-message.hide {
  opacity: 0;
}


/* Estilos para pantallas pequeñas */
@media screen and (max-width: 600px) {
  form {
    max-width: none;
  }
}



