@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Pixelify Sans", sans-serif;
}

/*segunda fuente para el titulo*/
h2 {
    font-family:'Finger Paint', cursive;
}


body{
    min-height: 100vh;
    overflow-x: hidden;
    
}

header{
    background-color: #434875;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999999;
    height: 100px;
}

.logo-contenedor{
    display: flex;
    align-items: center;
}

.logo-img{
    height: 70px;
    margin-right: 25px;
}

.logo{
    font-size: 2.5em;
    color: white;
    user-select: none;
}

.justificado { /*ponerlo en los textos como parte de la clase*/
    text-align: justify;
}

.navigation a {

    justify-content: space-between;
    position: relative;
    font-size: 1.5em;
    color:#fff;
    font-weight: 600;
    text-decoration: none; /*quitar rayita de hipervinculo*/
    margin-left: 20px;
    transition: 0.5s;
    padding: 6px 15px;
    transition: 0.3s;
}

.navigation a:hover{
    color: #333;
}

.navigation a span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    border-radius: 30px;
    z-index: -1;
    transform: scale(0);
    transition: 0.5s;
}

.navigation a:hover span{
transform: scale(1);
}


.navigation .btnLogin-popup{
    width: 100px;
    height: 45px;
    background: transparent;
    border:2px solid #fff;
    outline: none;
    border-radius:30px;
    cursor: pointer;
    font-size: 1.3em;
    color: #fff;
    font-weight: 600;
    margin-left: 40px;
    transition: .5s;
}

.navigation .btnLogin-popup:hover{
    background: #fff;
    color: #162938;
}


.parallax{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 98vh;
    z-index: -1; /*fondo en el fondo*/
    background: url('/Imagenes/fondonormalantigua.png') no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#text{  /*titulo de bienvenido*/
    position: absolute;
    font-size: 9em;
    color: #ff4080;
    text-shadow: 12px 12px 12px #000000;
    z-index: 999;
}

.parallax img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
    
}

.parallax img#arbol-derecha{
    transform: translateY(-140px);

}

.parallax img#arbol-izquierda{
    transform: translateY(-140px);
    z-index: -10;
}

#fondoCasasIzquierda,
#fondoCasasDerecha6 {
    position: absolute;
    top: 0; /* Ajusta la posición inicial vertical */
    transition: transform 0.5s ease; /* Agrega una transición suave */
}

/* Cuando se desplaza hacia abajo, las casas se moverán hacia abajo */
.scroll-down #fondoCasasIzquierda,
.scroll-down #fondoCasasDerecha6 {
    transform: translateY(100px); /* Ajusta la cantidad de movimiento hacia abajo */
}


.sec{
    position: relative; /*fondos home)*/
    background-image: url(Imagenes/fondoPetenSolola.png), url(Imagenes/fondoPetenSololaIzabal.png), url(Imagenes/fondoAgua.png);
    background-size: contain, contain, contain;
    background-repeat: no-repeat;
    background-position: center -55px, center 1528.11px, center 3000px;
    min-height: 3200px;
}

.sec-titulo{ /*La historia comienza asi titulo*/
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:#ffffff; 
    font-size: 25px;
    text-shadow: 2px 4px 5px #000000;
    font-weight: 300;
    position: absolute;
    z-index: 1;
    transform: translateX(15%) translateY(45%);
}

.sec-texto1{
    background-color: rgba(52, 116, 0, 0.5);
    max-width: 600px;
    position: relative;
    color: #ffffff;
    font-size: 25px;
    padding: 60px 60px;
    margin-bottom: 0px;
    transform: translateX(160%) translateY(150%);
    z-index: 1;
}

.sec-texto2{
    background-color: rgba(52, 116, 0, 0.5);
    max-width: 600px;
    position: relative;
    color: #ffffff;
    font-size: 25px;
    padding: 60px 60px;
    margin-bottom: 80px;
    transform: translateX(30%) translateY(180%);
    z-index: 1;
}

.sec-texto3{
    background-color: rgba(52, 116, 0, 0.5);
    max-width: 600px;
    position: relative;
    color: #ffffff;
    font-size: 25px;
    padding: 60px 60px;
    margin-bottom: 80px;
    transform: translateX(150%) translateY(150%);
    z-index: 3;
}

.sec-texto3 li{
    color:#ffffff;
    font-size: 22px;
}

.sec h2{
    font-size: 3em;
    color:#ff8800; /*titulo "nuestra historia comienza asi"*/ 
}

.sec p{
    font-size: 1em;
    color:#ffffff; /*fuente texto home*/
    font-weight: 300;
    text-align: justify;
}

#fondoPeten1 { /*fondo peten ajuste de imagen*/
    width: 200%;
    padding: 50;
    max-width: 50;
    display: block;
    margin:  auto;
}

/*LOGIN*/

:root {
    --color-fondo: #ffffff;
    --color-borde: #434875;
    --color-texto: #434875;
    --color-placeholder: #b5b5b5;
    --color-boton: #434875;
    --color-boton-hover: #434875;
    --color-boton-texto: #ffffff;
    --color-link: #434875;
    --color-link-hover: #434875;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 2rem;
    border: 2px solid var(--color-borde);
    border-radius: 1rem;
    max-width: 35rem;
    margin-top: 150px !important;
}
  
label {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

input[type='text'],
input[type='password'] {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid var(--color-borde);
  color: var(--color-texto);
  font-family: 'Roboto', sans-serif;
  font-size: 1.25rem;
  padding: 0.5rem;
  margin-bottom: 1.5rem;
  width: 100%;
}

input[type='text']:focus,
input[type='password']:focus {
  outline: none;
  border-color: var(--color-boton);
}

input[type='text']::placeholder,
input[type='password']::placeholder {
  color: var(--color-placeholder);
  font-family: 'Roboto', sans-serif;
  font-size: 1.25rem;
}

button[type='submit'] {
  background-color: var(--color-boton);
  border: none;
  border-radius: 1rem;
  color: var(--color-boton-texto);
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  margin-top: 1.5rem;
  padding: 0.75rem 1.5rem;
  transition: background-color 0.2s ease-in-out;
}

button[type='submit']:hover {
  background-color: var(--color-boton-hover);
}

.login-popup {
  display: none; /* Por defecto oculto */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
  z-index: 9999; /* Z-index alto para estar encima de otros elementos */
}
.login-popup.active {
  display: flex; /* Mostrar cuando activo */
  justify-content: center;
  align-items: center;
}

/*REGISTRO*/

/* Estilos generales */
body {
	font-family: "Pixelify Sans", sans-serif;
	font-size: 16px;
	background-color: transparent;
	color: #333;
}

h2 {
	text-align: center;
	font-size: 36px;
	margin: 30px 0;
	color: #444;
	font-family:"Pixelify Sans", sans-serif;
}

form {
	max-width: 500px;
	margin: 0 auto;
	background-color: #fff;
	padding: 2rem;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
	border-radius: 40px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: left;
	
}

label {
	display: block;
	font-size: 18px;
	margin-bottom: 10px;
	color: #444; 
}

label i {
	margin-right: 10px;
	
}


input[type="text"],
input[type="email"],
input[type="password"] {
	display: block;
	width: 100%;
	padding: 10px;
	font-size: 16px;
	border: none;
	border-radius: 0;
	background-color: transparent;
	border-bottom: 1px solid #434875;
	margin-bottom: 20px;
	color: #333;
	transition: border-bottom-color 0.3seg;
}



button[type="submit"] {
	display: block;
	margin: 20px auto 0;
	padding: 10px 20px;
	font-size: 20px;
	color: #fff;
	background-color: #434875;
	border: none;
	border-radius: 10px;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
	cursor: pointer;
}
button[type="submit"]:hover {
	background-color: #434875;
}

a {
	color: #333;
}

a:hover {
	color: #444;
}
p {
	margin-top: 20px;
	font-size: 18px;
	text-align: center;
}

/* Estilos específicos del formulario de registro */
.screen {
    display: none;
    position: absolute; /* Cambia a posición absoluta */
    top: 50%; /* Alinea el formulario en el centro vertical */
    left: 50%; /* Alinea el formulario en el centro horizontal */
    transform: translate(-50%, -50%); /* Centra el formulario */
    background-color: transparent; /* Elimina el color de fondo */
    width: 300px; /* Ajusta el ancho según sea necesario */
    padding: 20px; /* Añade relleno al formulario */
    border-radius: 10px; /* Opcional: agrega bordes redondeados */
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1); /* Agrega sombra */
}



#username:focus,
#email:focus,
#password:focus,
#password_confirm:focus {
	background-color: #fff;
	box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
}

#username:invalid,
#email:invalid,
#password:invalid,
#password_confirm:invalid {
	border-color: #F44336;
}

#username:valid,
#email:valid,
#password:valid,
#password_confirm:valid {
	border-color: #4CAF50;
}

#password_confirm {
	margin-bottom: 40px;
}

label {
	display: block;
	font-size: 18px;
	margin-bottom: 10px;
	color: #444;
	text-align: left; /* Alinea el texto a la izquierda */
}
label i {
	margin-right: 10px;

}



/* Agregado para la sección "About Us" */
/* Modificado para la sección "About Us" */
.about {
    display: flex; /* Utiliza flexbox para alinear elementos */
    align-items: flex-start; /* Alinea los elementos en la parte superior */
    justify-content: center; /* Centra horizontalmente los elementos */
    background: #fff; /* Cambia el color de fondo según tu preferencia */
    padding-top: 0; /* Ajusta el espaciado interno según sea necesario */
    text-align: left; /* Alinea el texto a la izquierda */
    flex-wrap: wrap; /* Permite que los elementos se envuelvan si no caben en una sola fila */
    margin: 7.5%;
}

.about h2 {
    font-size: 4em;
    color: #000000;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.about h3{
    margin-top: -5%;
    flex: 0 0 100%; /* Permite que los elementos ocupen el 100% del ancho */
    margin-bottom: 20px; /* Espaciado inferior entre los elementos */
    font-size: 2.5em; /* Tamaño del texto */
    color: #000000; /* Color del texto */
    
}

.about p {
    flex: 0 0 100%; /* Permite que los elementos ocupen el 100% del ancho */
    margin-bottom: 20px; /* Espaciado inferior entre los elementos */
    font-size: 2em; /* Tamaño del texto */
    color: #000000; /* Color del texto */
    text-align: justify;
}


.quienessomos{
    max-width: 2000px;
    margin-top: 100px;
}
.img-quienessomos {
    float: right; /* Alinea la imagen a la derecha del texto */
    margin-left: 20px; /* Espacio entre la imagen y el texto */
    shape-outside: rectangle(0,0,100%,100%); /* Define una forma rectangular alrededor de la imagen */
    width: 25% !important;
    margin-top: 10px !important;
}

.img-quienessomos2{
    display: none;
}

.comosurgio{
    max-width: 2000px;
    margin-top: 100px;
}
.img-comosurgio {
    float: left; /* Alinea la imagen a la izquierda del texto */
    margin-right: 20px; /* Espacio entre la imagen y el texto */
    shape-outside: rectangle(0,0,100%,100%); /* Define una forma rectangular alrededor de la imagen */
    width: 16% ;
    margin-top: 10px !important;
}

.img-comosurgio2 {
    display: none;
}

/*mision y vision */

.mission-vision {
    display: flex; /* Utiliza flexbox para alinear elementos */
    justify-content: space-between; /* Espacio uniforme entre las columnas */
    margin-top: 120px; /* Espaciado superior entre la misión/visión y el contenido anterior */
}

.mission-vision > div {
    flex: 0 0 48%; /* Cada columna ocupa el 48% del ancho disponible */
}

.mission-vision h4 {
    font-size: 2.5em; /* Tamaño del título */
    color: #000000; /* Color del título */
    margin-bottom: 10px; /* Espaciado inferior del título */
}

.centrado {
    text-align: center;
}

.mission-vision p {
    font-size: 2em; /* Tamaño del texto */
    color: #000000; /* Color del texto */
}

.mision {
    width: 30% !important;
    margin-left: 0;
    margin-top: -5px !important;
    
}

.vision {
    width: 30% !important;
    margin-left: 0;
    margin-top: 60px !important;
    
}

.Informacion_Contacto {
    background-color: #6871c0 ; /* Color de fondo de la franja */
    padding: 25px; /* Espacio alrededor del contenido */
    text-align: center; /* Alineación del texto */
}
.TituloC{
    font-size: 1.5em;
}
.Correo{
    margin-top: -5px;
    font-size: 1.4em;
}

/*Pestaña de News*/
.news{
    display: flex; /* Utiliza flexbox para alinear elementos */
    align-items: flex-start; /* Alinea los elementos en la parte superior */
    justify-content: center; /* Centra horizontalmente los elementos */
    background: #fff; /* Cambia el color de fondo según tu preferencia */
    padding: 150px 50px; /* Ajusta el espaciado interno según sea necesario */
    text-align: justify; /* Alinea el texto a la izquierda */
    flex-wrap: wrap; /* Permite que los elementos se envuelvan si no caben en una sola fila */
    margin: 7.5%;
    margin-top: auto;
}

.news h2 {
    font-size: 5em;
    color: #09168b;
    margin-left: auto;
    margin-right: auto;
}


.news h3, h4 {
    font-size: 2.5em;
    color: #098b6a;
    margin-left: auto;
    margin-right: auto;
    margin-top: -50px;
}


.news h5 {
    font-size: 2em;
    color: #8b098b;
    margin-left: auto;
    margin-right: auto;
}
.news p {
    font-size: 1.5em;
    color: #000000;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.juegolago {
    float: left; /* Alinea la imagen a la derecha del texto */
    margin-right: 20px; /* Espacio entre la imagen y el texto */
    shape-outside: rectangle(0,0,100%,100%); /* Define una forma rectangular alrededor de la imagen */
    width: 15% !important;
    margin-top: 10px !important;
}

.juegouno, .juegodos {
    max-width: 2000px;
    margin-top: 100px;
}


.juegoizabal {
    float: left; /* Alinea la imagen a la derecha del texto */
    margin-right: 20px; /* Espacio entre la imagen y el texto */
    shape-outside: rectangle(0,0,100%,100%); /* Define una forma rectangular alrededor de la imagen */
    width: 15% !important;
    margin-top: 10px !important;
}


.news img {
    flex: 0 0 50%; /* Permite que los elementos ocupen el 100% del ancho */
    margin-bottom: 0; /* Espaciado inferior entre los elementos */
    color: #000000; /* Color del texto */
    width: 200px; /* Ancho de las imágenes */
    height: 200px;
    margin-top: 5px; /* Espaciado superior entre las imágenes y el texto */
}


/*Pestaña de Games*/
.games {
    display: flex; /* Utiliza flexbox para alinear elementos */
    align-items: flex-start; /* Alinea los elementos en la parte superior */
    justify-content: center; /* Centra horizontalmente los elementos */
    background: #fff; /* Cambia el color de fondo según tu preferencia */
    text-align: left; /* Alinea el texto a la izquierda */
    flex-wrap: wrap; /* Permite que los elementos se envuelvan si no caben en una sola fila */
    margin: 120px; /*No tocar*/
}
.games h2 {
    font-size: 4em;
    color: #000000;
    margin-left: auto;
    margin-right: auto;
}

.LaRuinaSagradaJ1 h3{
    margin-top: -5%;
    flex: 0 0 100%; /* Permite que los elementos ocupen el 100% del ancho */
    margin-bottom: 20px; /* Espaciado inferior entre los elementos */
    font-size: 2.5em; /* Tamaño del texto */
    color: #000000; /* Color del texto */
    
}

.LaRuinaSagradaJ1 p {
    flex: 0 0 100%; /* Permite que los elementos ocupen el 100% del ancho */
    margin-bottom: 20px; /* Espaciado inferior entre los elementos */
    font-size: 2em; /* Tamaño del texto */
    color: #000000; /* Color del texto */
    text-align: justify;
}

.LaRuinaSagradaJ1{
    max-width: 2000px;
    margin-top: 100px;
    margin-left: 18px;
}
.gifLRS {
    float: left; /* Alinea la imagen a la derecha del texto */
    margin-right: 20px; /* Espacio entre la imagen y el texto */
    shape-outside: rectangle(0,0,100%,100%); /* Define una forma rectangular alrededor de la imagen */
    width: 40% !important;
    margin-top: 5px !important;
    display:none;
}
.imagenLRS {
    float: left; /* Alinea la imagen a la derecha del texto */
    margin-right: 20px; /* Espacio entre la imagen y el texto */
    shape-outside: rectangle(0,0,100%,100%); /* Define una forma rectangular alrededor de la imagen */
    width: 40% !important;
    margin-top: 5px !important;
}

@media screen and (max-width: 600px) {
    form {
      max-width: none;
    }
  }
  

